html {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 300;
    font-size: 25px;
    color: #444;
}

.toolbar {
    display: grid;
    grid-template-areas:
        'main-menu calendar-name today-btn nav-arrows today-date';
    grid-template-columns: 0.5fr 2fr 0.7fr 0.5fr 8fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.main-menu {
    grid-area: main-menu;
    padding: 0 20px;
}

.menu-line {
    width: 20px;
    height: 2.5px;
    background-color: #777;
    margin: 2px;
}

.nav-arrows {
    display: flex;
    grid-area: nav-arrows;
    gap: 20px;
    margin: 0;
}

.nav-arrow {
    display: inline-block;
    border: solid #444;
    border-width: 0 2px 2px 0;
    padding: 3px;
}

.arrow-right {
    transform: rotate(-45deg);
}

.arrow-left {
    transform: rotate(135deg);
}

.calendar-name {
    grid-area: calendar-name;
}

.today-btn {
    grid-area: today-btn;
    font-size: 15px;
    width: 65px;
    height: 35px;
    background-color: white;
    border-radius: 3px;
    border-color: #ccc;
    color: #444;
}

.today-date {
    grid-area: today-date;
}